<% sum = 0 %>

<%= form_tag multiple_update_wishes_path, :style => "overflow: hidden" do %>
  <table class="zebra-striped">
    <tr>
      <th>Произв.</th>    
      <th>Кат.&nbsp;ном.</th>
      <th>Название</th>
      <th>Нал.</th>
      <th>От</th>
      <th>До</th>
      <th>Расп.</th>       
      <th>Цена</th>
      <th></th>
      <th>Штук</th>
      <th></th>
      <th>Сумма</th>                    
    </tr>

  <% wishes.each do |wish| %>

    <%= fields_for "wishes[]", wish do |f| %>
      <tr>
        <td><%= wish.manufacturer %></td>    
        <td><%= link_to wish.catalog_number, search_searches_path(wish.catalog_number, wish.manufacturer, :anchor => "jump") %></td>
        <td><%= wish.title %></td>
        <td><%= count_decorator(wish.count) %></td>
        <td><%= days_decorator(wish.declared) %></td>
        <td><%= days_decorator(wish.average) %></td>
        <td><%= wish.country %></td>
        <td><%= cost_decorator(wish.cost) %></td>
        <td>x</td>    
        <td><%= wish.count_in_wishes %></td>        
        <td>=</td>
         <% sum += (multiply = wish.cost * wish.count_in_wishes) %>
        <td><%= cost_decorator(multiply) %></td> 
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td colspan="11">
      Стоимость доставки:
    </td>
    <td>
     <% sum += @order.delivery_cost.to_i %>
      <%= @order.delivery_cost.to_i %> руб.
    </td>
  </tr>

  <tr>
    <td colspan="7">

      <% if current_user.admin? %>
        <%= link_to "Сменить статус", edit_order_path(@order), :class => "btn primary" %>
        &nbsp;&nbsp;<span>или</span>&nbsp;&nbsp;
      <% end %>

      <% unless @order.status == :processed %>
        <% data_content = "Кнопка станет доступна после того как мендежер обработает заказ и свяжется с вами." %>
        <% css_class = "disabled" %>
      <% end %>
      
      <%= link_to "Получить квитанцию", fill_order_path(@order.id), :class => "btn primary bill #{css_class}", "data-content" => data_content, :target => "_blank", :rel => 'popover' %>

      <% if @order.status != :processed %>
        <span>&nbsp;&nbsp;или&nbsp;&nbsp;</span>
        <%= link_to "Отменить заказ и вернуть товары в корзину", @order, :class => "btn", :confirm => "Вы уверены, что хотите отменить заказ? Все товары из заказа переместятся в корзину.", :method => :delete %>
      <% end %>

    </td>
    <td colspan="5" style="text-align: right">
      <strong>Итого: <%= number_to_currency(sum).gsub(' ', '&nbsp;').html_safe %></strong>
    </td>
  </tr>
  </table>
<% end %>
