<% sum = 0 %>

<%= form_tag multiple_update_wishes_path, :style => "overflow: hidden" do %>
  <table class="zebra-striped">
    <tr>
      <th><input type="checkbox" class="check-all" /></th>
      <th>Произв.</th>    
      <th>Кат.&nbsp;ном.</th>
      <th>Название</th>
      <th>Нал.</th>
      <th>От</th>
      <th>До</th>
      <th>Расп.</th>   
      <th>Цена</th>      
      <th></th>
      <th>Штук</th>
      <th></th>
      <th>Сумма</th>
    </tr>

  <% wishes.each do |wish| %>

    <%= fields_for "wishes[]", wish do |f| %>
      <tr>
        <td><%= check_box_tag "wishes_ids[]", wish.id, false, :id => "wish_#{wish.id}" %></td>
        <td><%= wish.manufacturer %></td>    
        <td><%= link_to wish.catalog_number, search_searches_path(wish.catalog_number, wish.manufacturer, :anchor => "jump") %></td>
        <td><%= wish.title %></td>
        <td><%= count_decorator(wish.count) %></td>
        <td><%= days_decorator(wish.declared) %></td>
        <td><%= days_decorator(wish.average) %></td>
        <td><%= wish.country %></td>
        <td><%= cost_decorator(wish.cost) %></td>
        <td>x</td>    
        <td><%= f.text_field :count_in_wishes, { :size => "4", :style => "width: auto !important", :type => "number" } %></td>        
        <td>=</td>   
         <% sum += (multiply = wish.cost * wish.count_in_wishes) %>
        <td><%= cost_decorator(multiply) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="7">
      <%= submit_tag "Удалить выделенные", :class => "btn" %> </a> <span>&nbsp;&nbsp;или&nbsp;&nbsp;</span> <%= submit_tag "Отложить выделенные", :class => "btn" %></a>
    </td>
    <td colspan="7" style="text-align: right">
      <strong>Итого: <%= number_to_currency(sum).gsub(' ', '&nbsp;').html_safe %></strong>
    </td>
  </tr>
  </table>
  <div style="float: right">
    <%= submit_tag "Пересчитать цену", :class => "btn clearfix" %> 
    &nbsp;&nbsp;&nbsp;&nbsp; 
    <%= link_to "Отправить на обработку", {:controller => "orders"}, :class => "btn primary", :method => :post, :confirm => "Вы уверены, что хотите отправить заказ на обработку менеджеру?" %>
  </div>
<% end %>
