<h1>Корзина</h1>

<style>
  table tbody th {
    border-top: 0;
  }
</style>

<% @sum = 0 %>

<% if @wishes.count > 0 %>
  <p><span class="label">К сведению</span> Не забывайте обновлять корзину после изменения количества товаров в ней.</p>
  <br />
  
  <ul data-tabs="tabs" class="tabs" style="margin-bottom: 0">
    <li class="active"><a href="#active">В корзине</a></li>
    <li><a href="#inactive">Отложенные</a></li>
  </ul>
            
  <div class="tab-content" id="my-tab-content">
    <div id="active" class="active tab-pane">
      <%= form_tag multiple_update_wishes_path, :style => "overflow: hidden", :method => :put do %>
        <table class="zebra-striped">
          <tr>
            <th><input type="checkbox" id="select-all" /></th>
            <th>Произв.</th>    
            <th>Кат.&nbsp;ном.</th>
            <th>Название</th>
            <th>Нал.</th>
            <th>От</th>
            <th>До</th>
            <th>Расп.</th>
            <th>Цена</th>      
            <th></th>
            <th>В&nbsp;Заказ</th>
            <th></th>
            <th>Сумма</th>
          </tr>

        <% @wishes.each do |wish| %>
          <%= fields_for "wishes[]", wish do |f| %>
            <tr>
              <td><%= f.check_box :active %></td>
              <td><%= wish.manufacturer %></td>    
              <td><%= wish.catalog_number %></td>
              <td><%= wish.title %></td>
              <td><%= count_decorator(wish.count) %></td>
              <td><%= days_decorator(wish.declared) %></td>
              <td><%= days_decorator(wish.average) %></td>
              <td><%= wish.country %></td>
              <td><%= cost_decorator(wish.cost) %></td>
              <td>x</td>    
              <td><%= f.text_field :count_in_wishes, { :size => "4", :style => "width: auto !important", :type => "number" } %></td>        
              <td>=</td>   
               <% @sum += (multiply = wish.cost * wish.count_in_wishes) %>
              <td><%= cost_decorator(multiply) %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <td colspan="7">
            <a href="#">Удалить выделенные</a> или 
            <a href="#">Отложить выделенные</a>
          </td>
          <td colspan="7" style="text-align: right">
            <strong>Итого: <%= number_to_currency(@sum).gsub(' ', '&nbsp;').html_safe %></strong>
          </td>
        </tr>
        </table>
        <div style="float: right">
          <%= submit_tag "Пересчитать цену", :class => "btn clearfix" %> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="btn primary">Оформить заказ</a>
        </div>
      <% end %>
    </div>
    <div id="inactive" class="tab-pane">
      456
    </div>
  </div>  
  
 

  
<% else %>
  Ваша корзина пуста.
<% end %>
