<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @wish.user_id %>
</p>

<p>
  <b>Cost:</b>
  <%= @wish.cost %>
</p>

<p>
  <b>Catalog number:</b>
  <%= @wish.catalog_number %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @wish.manufacturer %>
</p>

<p>
  <b>Title:</b>
  <%= @wish.title %>
</p>

<p>
  <b>Count:</b>
  <%= @wish.count %>
</p>

<p>
  <b>Declared:</b>
  <%= @wish.declared %>
</p>

<p>
  <b>Average:</b>
  <%= @wish.average %>
</p>

<p>
  <b>Country:</b>
  <%= @wish.country %>
</p>

<p>
  <b>Session:</b>
  <%= @wish.session_id %>
</p>


<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
