<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'hero_unit'}) %>
  <p><%= link_to "Помощь в подборе &raquo;".html_safe, requests_path, :class => "btn primary large" %> <%= link_to "Поиск по номеру &raquo;".html_safe, skip_search_searches_path, :class => "btn primary large" %></p>
</div>

<div class="row" style="margin-left: 0; margin-bottom: 0px">
    <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'blockquote'}) %>
</div>

<div class="row" style="margin-left: 5px;">

   <%= render_cell :news_feed, :index, :user => @current_user %>

</div>


  <h3>Случайные описания деталей из нашей базы</h3>
<ul class="media-grid" style="margin-left: 0; margin-top: 20px;">

  <% @four_parts_images.each do |part_image| %>
    <li style="float: left;">
      <%= link_to(image_tag(part_image.part_image.thumb.url, :class => "thumbnail"), search_searches_path(part_image.catalog_number, part_image.manufacturer)) %>
    </li>
  <% end %>

</ul>
