<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Добро пожаловать!</h1>
  <p>Рады, что вы посетили наш магазин автозапчастей, надеемся вам понравятся наш ассортимент и цены. Если вы знаете каталожный номер автозапчасти, то можете приступить к поиску прямо сейчас или связаться с нашим менеджером, для консультации и подбора.</p>
  <p><%= link_to "Искать &raquo;".html_safe, skip_search_searches_path, :class => "btn primary large" %> <%= link_to "Консультация менеджера &raquo;".html_safe, requests_path, :class => "btn primary large" %></p>
</div>

<div class="row" style="margin-left: 0; margin-bottom: 20px">
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, lacus quis egestas malesuada, risus urna pharetra eros, quis tempus augue tellus a purus. Aenean purus est, porttitor sit amet facilisis sed, porta condimentum nulla. Morbi aliquet luctus ullamcorper. In aliquet malesuada placerat. Donec vitae laoreet sapien. Vestibulum ante ipsum.</p>
  <small>Иван Иванов, покупатель</small>
</blockquote>
</div>

<ul class="media-grid" style="margin-left: 0">
	<li style="float: left;">
    <a href="#">
      <%= image_tag "3.png", :class => "thumbnail" %>
    </a>
  </li>
  
  <li style="float: left;">
    <a href="#">
      <%= image_tag "2.png", :class => "thumbnail" %>
    </a>
  </li>
  <li style="float: left;">
    <a href="#">
      <%= image_tag "4.png", :class => "thumbnail" %>
    </a>
  </li>
  <li style="float: left;">
    <a href="#">
      <%= image_tag "1.png", :class => "thumbnail" %>
    </a>
  </li>
</ul>
