<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Добро пожаловать!</h1>
  <p>Рады, что вы посетили наш магазин автозапчастей <strong>Японама</strong>, надеемся вам понравятся наш ассортимент и цены. Если вы знаете каталожный номер автозапчасти, то можете приступить к поиску прямо сейчас или связаться с нашим менеджером, для консультации и подбора.</p>
  <p><%= link_to "Искать &raquo;".html_safe, skip_search_searches_path, :class => "btn primary large" %> <%= link_to "Консультация менеджера &raquo;".html_safe, requests_path, :class => "btn primary large" %></p>
</div>

<div class="row" style="margin-left: 0; margin-bottom: 0px">
<blockquote>
  <p>Спасибо коллективу компании. Заказанные запчасти на японца получил в срок и дешево, в следующий раз обязательно вернусь именно к вам.</p>
  <small>Андрей Иванов, покупатель</small>
</blockquote>
</div>

<div class="row" style="margin-left: 5px; margin-bottom: 20px">
  <h4><a href="/catalog">Автомобильные каталоги</a></h4>
</div>

<ul class="media-grid" style="margin-left: 0">
	<li style="float: left;">
    <a href="#">
      <%= image_tag "3.png", :class => "thumbnail" %>
    </a>
  </li>
  
  <li style="float: left;">
    <a href="#">
      <%= image_tag "2.png", :class => "thumbnail" %>
    </a>
  </li>
  <li style="float: left;">
    <a href="#">
      <%= image_tag "4.png", :class => "thumbnail" %>
    </a>
  </li>
  <li style="float: left;">
    <a href="#">
      <%= image_tag "1.png", :class => "thumbnail" %>
    </a>
  </li>
</ul>


<%= cktext_area_tag("content", "Ckeditor", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Full', :contentsCss => asset_paths.asset_for('application', 'css').to_a.collect{|asset| asset_path(asset, :ext => 'css', :body => true, :protocol => :request, :digest => digest_assets?)}) %>
