<p id="notice"><%= notice %></p>

<p>
  <b>Region area:</b>
  <%= @toyota_epc_part_number_application_to_models_child.region_area %>
</p>

<p>
  <b>Part number:</b>
  <%= @toyota_epc_part_number_application_to_models_child.part_number %>
</p>

<p>
  <b>Part name code:</b>
  <%= @toyota_epc_part_number_application_to_models_child.part_name_code %>
</p>

<p>
  <b>Qty:</b>
  <%= @toyota_epc_part_number_application_to_models_child.qty %>
</p>

<p>
  <b>Catalog:</b>
  <%= @toyota_epc_part_number_application_to_models_child.catalog %>
</p>

<p>
  <b>Model name:</b>
  <%= @toyota_epc_part_number_application_to_models_child.model_name %>
</p>

<p>
  <b>Fr to:</b>
  <%= @toyota_epc_part_number_application_to_models_child.fr_to %>
</p>

<p>
  <b>Models description:</b>
  <%= @toyota_epc_part_number_application_to_models_child.models_description %>
</p>

<p>
  <b>Part number application to models parent:</b>
  <%= @toyota_epc_part_number_application_to_models_child.part_number_application_to_models_parent %>
</p>


<%= link_to 'Edit', edit_toyota_epc_part_number_application_to_models_child_path(@toyota_epc_part_number_application_to_models_child) %> |
<%= link_to 'Back', toyota_epc_part_number_application_to_models_children_path %>
