<%= form.simple_fields_for :messages do |f| %>
  <%= f.input :message, :input_html => {:rows => 10, :style => "width: 80%"}, :label => "Текст запроса", :hint => "Не забывайте, что «Правильно заданный вопрос – половина ответа»" %>
  <% unless f.object.nil? || f.object.new_record? %>
      <%= f.label :_destroy, 'Remove:' %>
      <%= f.check_box :_destroy %>
  <% end %>
 
 <%= f.label "Загрузить файл", :style => "line-height: 12px; margin-top: 12px" %>
 
 <%= f.simple_fields_for :message_assets do |attachment_form|  %>
   <%= f.input :message_assets, :label => false, :wrapper_html => {:style => "position: relative"} do %>
       <%= attachment_form.link_to_remove "<div class='icons icons-sprite icons-delete'></div>".html_safe, :style => "position: absolute; margin: -5px 0 0 0;" %>
       <% unless attachment_form.object.new_record? %>
         <%= image_tag(attachment_form.object.file.url, :style => "margin-left: 5px") if attachment_form.object.file? %>
       <% end %>
       <% if attachment_form.object.new_record? %>
         <%= attachment_form.file_field :file, :style => "margin-left: 5px" %>
       <% end %>
   <% end %>
 <% end %>
 <%= f.link_to_add "Добавить поле для файла...", :message_assets, :style => "display: block" %>
 <%= f.input :message_assets, :label => false do %>
   <%= f.hint "По желанию можете вложить фотографию детали, упаковки и т.д." %>
<% end %>
  

 <% end %>