<h1><%= "Вход" if @meta_title != "Вход" %></h1>

<%= hint_decorator(notice_text || "Если вы уже регистрировались на нашем сайте, то просто укажите ваш номер телефона и пароль. Иначе пожалуйста зарегистрируйтесь, это не займет более 2-х минут.") %>

<hr>

<%= simple_form_for(resource, :wrapper => :inline, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<% if f.error_notification %>
	  <div class="alert-message warning fade in" data-alert="alert">
	    <a class="close" href="#">×</a>
	    <p><%= f.error_notification %></p>
	  </div>
	<% end %>

  <%= devise_error_messages! %>

  <div class="inputs">

    <%= f.input :phone, :required => true, :wrapper => :prepend, :wrapper_html => {:class => 'hint-hack'} do  %>
      <%= content_tag :span, "+7", :class => "add-on" %>
      <%= f.input :phone, :autofocus => true, :hint => 'Только цифры', :input_html => {:class => 'phone-hack'}, :wrapper_html => {:class => 'margin-hack'}, :label => false %>
    <% end %>

    <%= f.input :password, :required => true, :hint => "Пароль от этого сайта" %>

    <%= f.input :remember_me, :as => :boolean do %>
      <% 
        begin
          remember_me = params[:user][:remember_me].to_i > 0
        rescue
          remember_me = true
        end
      %>
      <%= f.input :remember_me, :input_html => { :value => '1', :checked => remember_me,  :style => 'margin-top:8px;'}, :label => false, :as => :boolean, :wrapper_html => {:class => 'margin-hack'} %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Вход", :class => "primary" %> <%= render :partial => "devise/shared/links" %>
  </div>
  
<% end %>
