<h1><%= "Вход" if @meta_title != "Вход" %></h1>

<br />

<%= simple_form_for(resource, :wrapper => :append, :as => resource_name, :url => session_path(resource_name, :anchor => "jump")) do |f| %>

	<% if f.error_notification %>
    <p><%= f.error_notification %></p>
	<% end %>

  <%= devise_error_messages! %>

  <%= f.input :phone, :required => true do  %>
    <%= content_tag :span, "+7" %>
    <%= f.text_field :phone, :type => "tel",  :size => "18", :style => "margin-right: 20px", :maxlength => 10 %>
  <% end %><br />

  <%= f.input :password, :required => true, :input_html => {:size => "20"} %> <br />

  <%= f.input :remember_me, :label => false, :as => :boolean do %>

    <% 
      begin
        remember_me = params[:user][:remember_me].to_i > 0
      rescue
        remember_me = true
      end
    %>
    
    <%= f.check_box :remember_me, :input_html => { :value => '1', :checked => remember_me} %> Запомнить
  <% end %>
  <br />
  <%= f.button :submit, "Вход", :class => "primary" %>
<% end %>
