<%= simple_form_for(@spare_info, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :catalog_number %>
    <%= f.input :manufacturer %>
    <%= f.input :default_content, :as => :ckeditor %>
    <%= f.input :mobile_content, :as => :ckeditor %>
    <%= f.input :invisible_content, :as => :ckeditor %>
    <%= f.association :user, :label_method => :user_name, :value_method => :id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
