<p id="notice"><%= notice %></p>

<p>
  <b>Catalog number:</b>
  <%= @spare_info.catalog_number %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @spare_info.manufacturer %>
</p>

<p>
  <b>Default content:</b>
  <%= @spare_info.default_content %>
</p>

<p>
  <b>Mobile content:</b>
  <%= @spare_info.mobile_content %>
</p>

<p>
  <b>Invisible content:</b>
  <%= @spare_info.invisible_content %>
</p>

<p>
  <b>User:</b>
  <%= @spare_info.user %>
</p>


<%= link_to 'Edit', edit_spare_info_path(@spare_info) %> |
<%= link_to 'Back', spare_infos_path %>
