<h1>Listing toyota_epc_part_number_list_parents</h1>

<table>
  <tr>
    <th>Region area</th>
    <th>Part name code</th>
    <th>Part name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @toyota_epc_part_number_list_parents.each do |toyota_epc_part_number_list_parent| %>
  <tr>
    <td><%= toyota_epc_part_number_list_parent.region_area %></td>
    <td><%= toyota_epc_part_number_list_parent.part_name_code %></td>
    <td><%= toyota_epc_part_number_list_parent.part_name %></td>
    <td><%= link_to 'Show', toyota_epc_part_number_list_parent %></td>
    <td><%= link_to 'Edit', edit_toyota_epc_part_number_list_parent_path(toyota_epc_part_number_list_parent) %></td>
    <td><%= link_to 'Destroy', toyota_epc_part_number_list_parent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part number list parent', new_toyota_epc_part_number_list_parent_path %>
