<p id="notice"><%= notice %></p>

<p>
  <b>Region Area:</b>
  <%= @toyota_epc_part_number_list_parent.region_area %>
</p>

<p>
  <b>Part name code:</b>
  <%= @toyota_epc_part_number_list_parent.part_name_code %>
</p>

<p>
  <b>Part name:</b>
  <%= @toyota_epc_part_number_list_parent.part_name %>
</p>


<%= link_to 'Edit', edit_toyota_epc_part_number_list_parent_path(@toyota_epc_part_number_list_parent) %> |
<%= link_to 'Back', toyota_epc_part_number_list_parents_path %>
