<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user2.email %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user2.encrypted_password %>
</p>

<p>
  <b>Reset password token:</b>
  <%= @user2.reset_password_token %>
</p>

<p>
  <b>Reset password sent at:</b>
  <%= @user2.reset_password_sent_at %>
</p>

<p>
  <b>Remember created at:</b>
  <%= @user2.remember_created_at %>
</p>

<p>
  <b>Sign in count:</b>
  <%= @user2.sign_in_count %>
</p>

<p>
  <b>Current sign in at:</b>
  <%= @user2.current_sign_in_at %>
</p>

<p>
  <b>Last sign in at:</b>
  <%= @user2.last_sign_in_at %>
</p>

<p>
  <b>Current sign in ip:</b>
  <%= @user2.current_sign_in_ip %>
</p>

<p>
  <b>Last sign in ip:</b>
  <%= @user2.last_sign_in_ip %>
</p>

<p>
  <b>Confirmation token:</b>
  <%= @user2.confirmation_token %>
</p>

<p>
  <b>Confirmed at:</b>
  <%= @user2.confirmed_at %>
</p>

<p>
  <b>Confirmation sent at:</b>
  <%= @user2.confirmation_sent_at %>
</p>

<p>
  <b>Created at:</b>
  <%= @user2.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @user2.updated_at %>
</p>

<p>
  <b>Phone:</b>
  <%= @user2.phone %>
</p>

<p>
  <b>Name:</b>
  <%= @user2.name %>
</p>

<p>
  <b>User name:</b>
  <%= @user2.user_name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user2.admin %>
</p>

<p>
  <b>Balance:</b>
  <%= @user2.balance %>
</p>

<p>
  <b>Discount:</b>
  <%= @user2.discount %>
</p>


<%= link_to 'Edit', edit_user2_path(@user2) %> |
<%= link_to 'Back', user2s_path %>
