<br />

<%= simple_form_for(resource, :wrapper => :append, :as => resource_name, :url => registration_path(resource_name, :anchor => "jump")) do |f| %>

  <% content_for :form_error do %>
    <% if f.error_notification %>
      <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <%= f.input :phone, :required => true do  %>
    <%= content_tag :span, "+7" %>
    <%= f.text_field :phone, :size => "18", :type => "tel", :style => "margin-right: 20px", :maxlength => 10 %>
  <% end %><br />
  
  <%= f.label "Введите код", :required => true %><br />
  <%= show_simple_captcha %><br />
  <%= f.error :captcha %><br /><br />

  <%= f.button :submit, "Регистрация", :class => "primary" %>
  
<% end %>
