<h1><%= "Регистрация" if @meta_title != "Регистрация" %></h1>

<p><span class="label">К сведению</span> <%= notice_text || "Для регистрации на нашем сайте просто укажите номер своего телефона и мы вышлем Вам код подтверждения." %></p>
<hr>
<%= simple_form_for(resource, :wrapper => :inline, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">

    <% autofocus = (params[:controller] == 'registrations') %>

    <%= f.input :phone, :required => true, :wrapper => :prepend, :wrapper_html => {:class => 'hint-hack'} do  %>
      <%= content_tag :span, "+7", :class => "add-on" %>
      <%= f.input :phone, :autofocus => autofocus, :hint => 'Только цифры', :input_html => {:class => 'phone-hack'}, :wrapper_html => {:class => 'margin-hack'}, :label => false %>
    <% end %>
    
    <div class="clearfix required <%= resource.errors[:captcha].present? ? "error" : "" %>">
      <%= f.label "Введите код", :required => true %>
      <div class="input">
        <%= show_simple_captcha %>
        <%= f.error :captcha %>
        <%= f.hint "Мы должны убедиться, что вы человек" %>        
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.button :submit, "Регистрация", :class => "primary" %> <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
