<ul class="breadcrumb">
  <li><a href="#">Главная</a> <span class="divider">/</span></li>
  <li class="active">Регистрация</li>
</ul>

<h1> Регистрация </h1>

<p><span class="label">К сведению</span> Для регистрации на нашем сайте просто укажите номер своего телефона.</p>
<hr>
<%= simple_form_for(resource, :wrapper => :inline, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">

    <%= f.input :phone, :required => true, :wrapper => :prepend, :wrapper_html => {:class => 'hint-hack'} do  %>
      <%= content_tag :span, "+7", :class => "add-on" %>
      <%= f.input :phone, :autofocus => true, :hint => 'Только цифры', :input_html => {:class => 'phone-hack'}, :wrapper_html => {:class => 'margin-hack'}, :label => false %>
    <% end %>

  </div>

  <div class="actions">
    <%= f.button :submit, "Регистрация" %> <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>