<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user.encrypted_password %>
</p>

<p>
  <b>Reset password token:</b>
  <%= @user.reset_password_token %>
</p>

<p>
  <b>Reset password sent at:</b>
  <%= @user.reset_password_sent_at %>
</p>

<p>
  <b>Remember created at:</b>
  <%= @user.remember_created_at %>
</p>

<p>
  <b>Sign in count:</b>
  <%= @user.sign_in_count %>
</p>

<p>
  <b>Current sign in at:</b>
  <%= @user.current_sign_in_at %>
</p>

<p>
  <b>Last sign in at:</b>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <b>Current sign in ip:</b>
  <%= @user.current_sign_in_ip %>
</p>

<p>
  <b>Last sign in ip:</b>
  <%= @user.last_sign_in_ip %>
</p>

<p>
  <b>Confirmation token:</b>
  <%= @user.confirmation_token %>
</p>

<p>
  <b>Confirmed at:</b>
  <%= @user.confirmed_at %>
</p>

<p>
  <b>Confirmation sent at:</b>
  <%= @user.confirmation_sent_at %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @user.updated_at %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Balance:</b>
  <%= @user.balance %>
</p>

<p>
  <b>Discount:</b>
  <%= @user.discount %>
</p>


<%= link_to 'Edit', edit_client_path(@user) %> |
<%= link_to 'Back', clients_path %>
