<%= simple_form_for(@request, :wrapper => :inline, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.simple_fields_for :messages do |message| %>
      <%= render :partial => 'message_fields',
      :locals => {:f => message} %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Создать запрос", :class => "primary" %> или назад к <%= link_to 'списку автомобилей', cars_path %>
  </div>
<% end %>