<%= simple_form_for(@request, :wrapper => :inline, :html => {:multipart => true, :id => "reply"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.simple_fields_for :messages, params[:id] ? @request.messages.build : nil do |message| %>
      <%= render :partial => 'message_fields',
      :locals => {:f => message} %>
    <% end %>
  </div>

  <%= f.input :car_id, :as => :hidden %>

  <div class="actions">
    <%= f.button :submit, save_text, :class => "primary" %> или назад к <%= link_to return_text, return_path %>
  </div>
<% end %>
