<%= simple_nested_form_for(@request, :wrapper => :inline, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= render :partial => 'messages/nested_form',
               :locals => {:form => f} %>    
  </div>

  <div class="actions">
    <%= f.button :submit, "Создать запрос", :class => "primary" %> или назад к <%= link_to 'списку автомобилей', cars_path %>
  </div>
<% end %>