<h1>Список запросов</h1>

<%= paginate @requests %>
<br />

<table class="zebra-striped">
  <tbody>
    <tr>
      <th>№</th>
      <th>Авто</th>
      <th>Статус</th>
      <th>Предпросмотр</th>
      <th style="width: 1%"></th>
    </tr>
    <% admins_array = User.where(:admin => true).all.collect(&:id) %>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.id %>
        <td><%= car_identity(request) if request.car.present? %></td>
        <td>
          <% unless admins_array.include?(request.messages.last.user.id) %>
            <p class='icons-24 icons-24-sprite icons-24-awating'>Ожидает обрабоки</p>
          <% else %>
            <p class='icons-24 icons-24-sprite icons-24-response-light'>Обработан</p>
          <% end %>
        </td>
        <td><%= simple_format(truncate(request.messages.last.message, :length => 160)) %></td>
        <td>
          <%= link_to "<div href='#' class='btn primary' style='margin-bottom: 7px'>Перейти&nbsp;к&nbsp;диалогу</div>".html_safe, request_path(request, :anchor => "reply") %>
          <%= link_to "<p class='icons icons-sprite icons-delete'>Удалить&nbsp;запрос</p>".html_safe, request, :confirm => 'Вы действительно хотите удалить запрос? Весь диалог, связанный с ним будет удален.', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @requests %>

<br />

<%= link_to 'Создать новый запрос', cars_path, :class => "btn primary" %>
