<h1>Просмотр запроса</h1>

<% if @request.car.present? %>
  <p><span class="label notice">К сведению</span> Диалог ведется на тему автомобиля <strong>"<%= car_identity(@request) %>"</strong>.</p>
<% else %>
  <p><span class="label notice">К сведению</span> Диалог ведется <strong>без указания автомобиля</strong>.</p>
<% end %>

<br />

<table class="zebra-striped">
  <tbody>
    <% @request.messages.each do |message| %>
      <tr><td><em><%= message.user.user_name %> <%= l(message.user.created_at, :format => :short) %>  писал:</em></td></tr>
      <tr><td>
        <%= simple_format(message.message) %>
          <% message.message_assets.each do |message_asset| %>
              <%= image_tag(message_asset.file.url) if message_asset.file? %>
          <% end %>
      </td></tr>
    <% end %>
  </tbody>
</table>

<br /><br />

<%= render :partial => 'form', :locals => {:save_text => "Отправить",
                                           :return_text => "списку запросов",
                                           :return_path => requests_path} %>
