<%= simple_form_for(@feed_element, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :robots %>
    <%= f.input :keywords %>
    <%= f.input :description %>
    <%= f.input :default_content %>
    <%= f.input :mobile_content %>
    <%= f.association :feed_category %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
