<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feed_element.title %>
</p>

<p>
  <b>Robots:</b>
  <%= @feed_element.robots %>
</p>

<p>
  <b>Keywords:</b>
  <%= @feed_element.keywords %>
</p>

<p>
  <b>Description:</b>
  <%= @feed_element.description %>
</p>

<p>
  <b>Default content:</b>
  <%= @feed_element.default_content %>
</p>

<p>
  <b>Mobile content:</b>
  <%= @feed_element.mobile_content %>
</p>

<p>
  <b>Feed category:</b>
  <%= @feed_element.feed_category %>
</p>


<%= link_to 'Edit', edit_feed_element_path(@feed_element) %> |
<%= link_to 'Back', feed_elements_path %>
