<p><span class="label">К сведению</span> Укажите пожалуйста дополнительные данные, необходимые для оплаты. Если у вас нет принтера и вы будете заполнять квитанцию вручную, то можете пропустить этот шаг. </p>
<hr>

<%= simple_form_for(@checkout, :wrapper => :inline, :url => fill_order_path) do |f| %>
  
  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">
    <%= f.input :fio, :label => "ФИО плательщика", :required => false %>
    <%= f.input :address, :label => "Адрес плательщика", :required => false %>
    <%= f.input :account, :label => "Номер лицевого счета", :hint => "Заполняйте только если вы будете платить с лицевого счета, открытого в банке", :required => false %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Продолжить", :class => "primary" %>
  </div>

<% end %>
