<h1>Список заказов</h1>

<% if @orders.size > 0 %>

  <%= paginate @orders %>
  <br />

  <table class="zebra-striped">
    <tr>
      <% if current_user.admin? %>
        <th>Покупатель</th>
      <% end %>
      <th>№</th>
      <th>Дата заказа</th>
      <th>Статус заказа</th>    
      <th></th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <% if current_user.admin? %>
          <td><%= link_to h(order.user.user_name) + "<br />".html_safe + "+7" + order.user.phone, show_become_path(order.user_id) %></td>
        <% end %>
        <td><%= order.id %></td>
        <td><%= l(order.created_at, :format => :short) %></td>
        <td>
          <% if order.status == :awating %>
            <p class='icons-24 icons-24-sprite icons-24-awating'>Ожидает обработки</p>
          <% else %>
            <p class='icons-24 icons-24-sprite icons-24-response-light'>Обработан</p>
          <% end %>        
        </td>
        <td><%= link_to 'Просмотр', order %></td>
      </tr>
    <% end %>
  </table>
  
  <%= paginate @orders %>
  <br />

<% else %>
  У вас нет ни одного заказа.
<% end %>
