<h1><%= @meta_title %><small> от <%= l(@order.created_at, :format => :short) %></small></h1>

<h3>Статус заказа:</h3>
<p><%= t(@order.status) %></p><br />

<h3>Результат обработки:</h3>
<%= simple_format(@order.notes || "Изменится после того, как заказ перейдет в статус \"#{t(:processed)}\"") %> <br />

<h3>Служебная информация:</h3>
<%= simple_format @order.invisible_content %> <br />

<% if current_user.admin? %>
  <h3>Покупатель:</h3>
  <p><%= link_to "#{h(@order.user.user_name)}<br />+7 #{phone_decorator(h(@order.user.phone))}".html_safe, show_become_path(@order.user_id, :anchor => "jump") %></p><br />
<% end %>

<div style="clear: both"></div>

<h3>Заказанные позиции:</h3>
<%= render :partial => 'wishes/table_ordered', :locals => {:wishes => @wishes} %>

<p><span class="label">К сведению</span> В ближайшее время менеджер:
  <ol>
    <li>Уточнит наличие заказанных Вами позиций</li>
    <li>Свяжется с Вами и узнает способ получения товара и в зависимости от этого выставит стоимость доставки </li>
    <li>Сменит статус заказа на "<%= t(:processed) %>" и сделает доступной кнопку "Оплатить".</li>
  </ol>
  <em>Если у вас на данный момент имеются вопросы относительно приобретаемого товара (не заказа в общем), или вам необходимо дополнительно подобрать автозапчасти, то рекомендуем сейчас "Отменить заказ и вернуть товары в корзину" и воспрользоваться <%= link_to "Помощью в подборе", cars_path %> на нашем сайте, а позже сформировать единый заказ.</em><br /></p>

