<h1>Просмотр заказа №<%= @order.id %></h1>

<h3>Дата заказа:</h3>
<p><%= l(@order.created_at, :format => :short) %></p><br />

<h3>Статус заказа:</h3>
<p><%= t(@order.status) %></p><br />

<h3>Результат обработки:</h3>
<%= simple_format(@order.notes || "Изменится после того, как заказ перейдет в статус \"#{t(:processed)}\"") %> <br />

<% if current_user.admin? %>
  <h3>Покупатель:</h3>
  <p><%= link_to "#{h(@order.user.user_name)}<br />+7#{h(@order.user.phone)}".html_safe, show_become_path(@order.user_id, :anchor => "jump") %></p><br />
<% end %>

<div style="clear: both"></div>

<p><span class="label">К сведению</span> Список товаров, отображенный ниже является не более чем вашей заявкой на обработку менеджером. Как только менеджер свяжется с вами и обговорит условия осуществления сделки независимо от итога (подтверждение или отмена) заказ сменит статус на "<%= t(:processed) %>", никто более не сможет изменить его состава. Все дальнейшие изменения будут отображаться в разделе "Результат обработки", будь то прием оплаты, выдача или отмена определенных позиций, уведомление о возможности доставки или самовывоза и пр. После каждого обновления статуса вы будете уведомлены посредством телефонного звонка. Вы можете самостоятельно отменить заказ до рассмотрения его менеджером, пока он находится в состоянии "<%= t(:awaiting) %>".</p>
<br />

<h3>Заказанные позиции:</h3>
<%= render :partial => 'wishes/table_ordered', :locals => {:wishes => @wishes} %>
