<%= simple_form_for(@page, :wrapper => :inline) do |f| %>
  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">

        <%= f.input :path, :input_html => {:style => "width: 80%"}, :hint => 'Допускаются буквы английского и русского языков, а так же "-", "/" и "?"', :label => 'Путь' %>
        <%= f.input :title, :input_html => {:style => "width: 80%"}, :hint => 'Не допустимо использовать теги, крайне рекомендуется не использовать прописные ("заглавные) буквы, за исключением слов - акронимов (аббревиатур") типа ГУМ, СССР и т.д.<title>...</title>', :label => 'Заголовок' %>
        <%= f.input :robots, :input_html => {:style => "width: 80%"}, :hint => 'Можете запретить страницу от индексации используя noindex или запретить следовать по ссылкам, расположенным на этой странице используя nofollow <meta name="robots" content="index, follow">', :label => 'Запрещение индексации или следования' %>
        <%= f.input :keyword, :input_html => {:style => "width: 80%", :rows => "3"}, :hint => "Список ключевых слов через запятую, используемые в тексте страницы. <meta name=\"Keywords\" content=\"...\" />", :label => "Ключевые слова" %>
        <%= f.input :description, :input_html => {:style => "width: 80%", :rows => "3"}, :hint => "2-3 предложения максимально описывающих содержимое страницы. <meta name=\"Description\" content=\"...\"/>", :label => "Описание" %>
      <div class="unmargin" >
        <%= f.input :default_content, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' } %>
      </div>
      <div class="unmargin" >
        <%= f.input :mobile_content, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' }, :hint => "Если не заполнять мобильную версию, то будет использована стандартная. Рекомендуется заполнять если используется сложная разметка или крупные картинки" %>
      </div>
  </div>

  <div class="actions">
    <%= f.button :submit, "Сохранить страницу", :class => "primary" %> или назад к <%= link_to 'списку страниц', pages_path %>
  </div>
<% end %>
