<%= simple_form_for(@page, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

        <%= f.input :path, :input_html => {:style => "width: 80%"}, :hint => 'Допускаются буквы английского и русского языков, а так же "-" и "/"', :label => 'Путь' %>
        <%= f.input :keyword, :input_html => {:style => "width: 80%", :rows => "3"}, :hint => "Список ключевых слов через запятую, используемые в тексте страницы", :label => "Ключевые слова" %>
        <%= f.input :description, :input_html => {:style => "width: 80%", :rows => "3"}, :hint => "2-3 предложения максимально описывающих содержимое страницы", :label => "Описание" %>
      <div class="unmargin" >
        <%= f.input :default_content, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' } %>
      </div>
      <div class="unmargin" >
        <%= f.input :mobile_content, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' } %>
      </div>
  </div>

  <div class="actions unmargin">
    <%= f.button :submit, "Сохранить страницу", :class => "primary" %> или назад к <%= link_to 'списку страниц', pages_path %>

  </div>
<% end %>
