<h1><%= @meta_title = "Просмотр страницы" %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Заголовок:</b>
  <%= @page.title %>
</p>

<p>
  <b>Путь:</b>
  <%= @page.path %>
</p>

<p>
  <b>Запрет индексации и следования:</b>
  <%= @page.robots %>
</p>

<p>
  <b>Ключевые слова SEO:</b>
  <%= @page.keyword %>
</p>

<p>
  <b>Описание SEO:</b>
  <%= @page.description %>
</p>

<p>
  <b>Содержание:</b>
  <%= @page.default_content %>
</p>

<p>
  <b>Мобильное содержание:</b>
  <%= @page.mobile_content %>
</p>


<%= link_to "Просмотр".html_safe, "/#{@page.path}", :target => "_blank" %> | 
<%= link_to 'Редактировать', edit_page_path(@page) %> |
<%= link_to 'К списку страниц', pages_path %>
