<h1> Забыли пароль? </h1>

<p><span class="label">К сведению</span> Забыли пароль? Не закончили регистрацию? Не получили sms с кодом подтверждения? Не отчаивайтесь, просто введите номер телефона и мы вышлем вам код подтверждения, с помощью которого вы сможете войти под своим профилем.</p>
<hr>


<%= simple_form_for(resource, :wrapper => :inline, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">

    <%= f.input :phone, :required => true, :wrapper => :prepend, :wrapper_html => {:class => 'hint-hack'} do  %>
      <%= content_tag :span, "+7", :class => "add-on" %>
      <%= f.input :phone, :autofocus => true, :hint => 'Только цифры', :input_html => {:class => 'phone-hack'}, :wrapper_html => {:class => 'margin-hack'}, :label => false %>
    <% end %>

    <div class="clearfix required <%= resource.errors[:captcha].present? ? "error" : "" %>">
      <%= f.label "Введите код", :required => true %>
      <div class="input">
        <%= show_simple_captcha %>
        <%= f.error :captcha %>
        <%= f.hint "Мы должны убедиться, что вы человек" %>        
      </div>
    </div>


  </div>


  <div class="actions">
    <%= f.button :submit, "Получить код подтверждения", :class => "primary" %> <%= render :partial => "devise/shared/links" %>
  </div>

<% end %>
