<% @formatted_data.each do |catalog_number, cn_scope| %>
  <% cn_scope.each_with_index do |mf_scope, i| %>
    <h1> <%= mf_scope[0] %> <small> <%= catalog_number %> </small> </h1> 
    
    <div style="width: 200px; height: 200px; background: #999; float: left; margin: 0 20px 20px 0"> </div>

    <div style="width: 600px; float: left">

      <p><%= raw mf_scope[1][:titles].keys.map{|val| h(val)}.join(', ') %></p>
      <% if mf_scope[1][:manufacturer_origs].size > 0 %>
        <em>Прочие написания производителя детали:</em><br />
        <p><%= raw mf_scope[1][:manufacturer_origs].keys.map{|val| h(val)}.join(', ') %></p>
      <% end %>
      <% if mf_scope[1][:catalog_number_origs].size > 0 %>
        <em>Прочие написания артикула детали:</em><br />
        <p><%= raw mf_scope[1][:catalog_number_origs].keys.map{|val| h(val)}.join(', ') %></p>
      <% end %>
      <% if mf_scope[1][:weights].size > 0 %>
        <em>Веса:</em>
        <p><%= raw mf_scope[1][:weights].keys.map{|val| h("#{val} кг.")}.join(', ') %></p>
      <% end %>

      <div style="margin: 20px">
        <!-- КОПИПАСТ TODO -->
        <span style="visibility: hidden; display:none"><%= retail_cost = cost_decorator(mf_scope[1][:offers][0][:retail_cost]) %></span>
        <%= form_for(:wish, :remote => true, :format => :json, :url => wishes_path, :method => :post, :html => {:style=>"margin: 0"}) do |f| %>
          <%= f.hidden_field :cost, :value => retail_cost, :id => nil %>
          <%= f.hidden_field :catalog_number, :value => catalog_number, :id => nil %>
          <%= f.hidden_field :manufacturer, :value => mf_scope[0], :id => nil %>
          <%= f.hidden_field :title, :value => mf_scope[1][:offers][0][:title], :id => nil %>
          <%= f.hidden_field :count, :value => mf_scope[1][:offers][0][:count], :id => nil %>
          <%= f.hidden_field :declared, :value => mf_scope[1][:offers][0][:max_days], :id => nil %>
          <%= f.hidden_field :average, :value => mf_scope[1][:offers][0][:min_days], :id => nil %>
          <%= f.hidden_field :country, :value => mf_scope[1][:offers][0][:country], :id => nil %>
          <%= f.hidden_field :probability, :value => mf_scope[1][:offers][0][:probability], :id => nil %>
          <%= f.submit raw("Купить за #{retail_cost}"), :class => "btn buy-button success large", :style=>"width: 180px" %>
        <% end %>
        <!-- /КОПИПАСТ TODO -->
      </div>

      <p> Не устраивает цена или сроки? <a href="#">Взгляните на другие предложения наших поставщиков </a></p>

      <p> А так же рекомендуем <%= link_to 'посмотреть аналоги этой детали', search_searches_path(catalog_number, mf_scope[0], '1'), :class => 'ajax-search' %>, т.к. возможно существуют детали по более низкой цене и не хуже качеством.</p>

      <div class="brands"> <%= brands_decorator mf_scope[0], {:title => false} %> </div>

    </div>

    <table style="width: 100%" class="zebra-striped">
      <tr>
        <th> Расп. </th>
        <th> Мин. </th>
        <th> Макс. </th>
        <th> Вер. </th>
        <th> Кол-во. </th>
        <th> Цена </th>
        <% if current_user && current_user.admin? %>
          <th> Служ. </th>
        <% end %>
      </tr>
      <% mf_scope[1][:offers].each do |offer| %>
        <tr>
          <td> <%= country_decorator offer[:country] %> </td>
          <td> <%= days_decorator offer[:min_days] %> </td>
          <td> <%= days_decorator offer[:max_days] %> </td>
          <td> <%= offer[:probability] %>% </td>
          <td> <%= count_decorator offer[:count] %> </td>
          <td>
            <span style="visibility: hidden; display:none"><%= retail_cost = cost_decorator(offer[:retail_cost]) %></span>
            <%= form_for(:wish, :remote => true, :format => :json, :url => wishes_path, :method => :post, :html => {:style=>"margin: 0"}) do |f| %>
              <%= f.hidden_field :cost, :value => retail_cost, :id => nil %>
              <%= f.hidden_field :catalog_number, :value => catalog_number, :id => nil %>
              <%= f.hidden_field :manufacturer, :value => mf_scope[0], :id => nil %>
              <%= f.hidden_field :title, :value => offer[:title], :id => nil %>
              <%= f.hidden_field :count, :value => offer[:count], :id => nil %>
              <%= f.hidden_field :declared, :value => offer[:max_days], :id => nil %>
              <%= f.hidden_field :average, :value => offer[:min_days], :id => nil %>
              <%= f.hidden_field :country, :value => offer[:country], :id => nil %>
              <%= f.hidden_field :probability, :value => offer[:probability], :id => nil %>
              <%= f.submit raw("Купить #{retail_cost}"), :class => "btn buy-button primary", :style=>"width: 140px" %>
            <% end %>
          </td>
          <% if current_user && current_user.admin? %>
            <td> <%= offer[:tech] %> </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <br /><br />

    <h3>Информация с каталогов</h3>

    <!-- TODO ЭТО КОПИПАСТ переписывается -->
      <% # Если есть Их информация, то показываем, что есть информация %>
      <% if mf_scope[1][:info][:their][:status] == 'avaliable' %>
        <%= tag("img", :src => "/assets/information.png", :width => "35", :height => "32", :class => "info", :id => "info_#{i}", :data => {:catalog_number => catalog_number, :manufacturer => mf_scope[0]}, :alt => "Информация", :title => "Информация", :rel => "nofollow")  %>
        <div class="static"> <%= mf_scope[1][:info][:their][:data].html_safe %> </div>
      <% end %>

      <% # Если Их информация отсутсвует то показываем 1x1 %>
      <% if mf_scope[1][:info][:their][:status] == 'unavaliable' %>
        <%= tag("img", :src => "/assets/1x1.gif", :width => "35", :height => "32", :class => "info", :id => "info_#{i}", :data => {:catalog_number => catalog_number, :manufacturer => mf_scope[0]}, :alt => "Информация", :title => "Информация") %>
        <div class="static"></div>
      <% end %>

      <% # Если неизвестно об Их информации, то показываем init, который подхыватывается Javascript'ом %>
      <% if mf_scope[1][:info][:their][:status] == 'unknown' %>
        <%= tag("img", :src => "/assets/init.gif", :width => "35", :height => "32", :class => "info", :id => "info_#{i}", :data => {:catalog_number => catalog_number, :manufacturer => mf_scope[0]}, :rel => "nofollow", :alt => "Информация", :title => "Информация") %>
      <% end %>
      <div class="dynamic"></div>
    <!-- /TODO ЭТО КОПИПАСТ -->

    <h3>Информация написанная нами</h3>
    <%= raw mf_scope[1][:info][:own][:data].default_content if mf_scope[1][:info][:own][:status] == 'avaliable'  %>

  <% end %>
<% end %>
