<div id="search-area">


  <div id="loading" style="display: none; position: absolute; background: #FFF; border: 1px solid #999; padding: 50px; z-index: 500">
    <p style="text-align: center">Пожалуйста ожидайте, идет поиск по базе</p>
    <p style="margin: 0 auto; text-align: center"><img src="/assets/loading-wide.gif" /></p>
    <br />
  
  </div>

  <h1><%= truncate(@meta_title, :length => 40) %></h1>


  <% if @parsed_json["result_prices"].count == 0 %>
    <br />

    <%= form_tag(searches_path, :method => :get) do %>
      <div class="inputs">

        <div class="clearfix string optional">
          <label class="string optional">
            <a class="catalog-number-link" href="#" data-controls-modal="catalog-number-modal">Каталожный номер</a>
          </label>
          <div class="input">
            <%= text_field_tag :catalog_number, params[:catalog_number], :id => "catalog-number" %> <div id="clear-catalog-number" class='icons icons-sprite icons-delete'></div>
            <span class="help-block">Например: <span id="random-catalog-number"><%= TemplateData::CATALOG_NUMBERS.sample %></span></span>
          </div>
        </div>
        

        <div class="clearfix string optional">
          <label class="string optional">
            <a class="catalog-number-link" href="#" data-controls-modal="catalog-number-modal">Производитель</a>
          </label>
          <div class="input">
            <%= text_field_tag :manufacturer, params[:manufacturer], :id => "manufacturer" %> <div id="clear-manufacturer" class='icons icons-sprite icons-delete'></div>
            <span class="help-block">Например: <%= TemplateData::MANUFACTURERS.sample %></span>        
          </div>
        </div>


        <div class="clearfix string optional">
          <label class="string optional">
            <a class="replacements-link" href="#" data-controls-modal="replacements-modal">Замены и аналоги</a>
          </label>
          <div class="input" style="margin-top: 6px">
            <%= check_box_tag :replacements, "1", params[:replacements].to_i > 0 ? true : false %> <br />
          </div>
        </div>
        
        <%= hidden_field_tag :rnd, rand(), :id => nil %>

        <div class="actions">
          <%= submit_tag "Искать", :class => "primary btn", :disable_with => "Пожалуйста подождите..." %>&nbsp;&nbsp;
          <% if user_search_histories.limit(2).size > 0 %>
            <% user_search_histories.limit(2).each do |ush| %>
              <%= link_to(ush.catalog_number + (ush.manufacturer? ?  " - " + ush.manufacturer : ""), search_searches_path(ush.catalog_number, ush.manufacturer)) + ", " %>
            <% end %>
            <%= link_to "вся история поиска...", search_histories_path, :id => "jump" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <noindex>
      <!-- The Modal Dialog  -->
      <div id="catalog-number-modal" class="modal hide fade">
        <div class="modal-header">
          <h3>Каталожный номер и Производитель</h3>
         <a href="#" class="close">&times;</a>
        </div>
        <div class="modal-body">
          <div style="overflow: hidden">
            <%= image_tag "toyota_genuine_spare_parts.png", :style => "width: 250px; float: left; margin-right: 10px" %>
            <p>Каталожный номер запчасти – это уникальный артикул детали по каталогу фирмы – производителя. Другими словами разные производители могут производить детали с одними и теми же каталожными номерами, поэтому часто указания просто католожного номера не достаточно. Приведем пример с каталожным номером 2102, если вы введете в поиск этот каталожный номер, то получите результат: болт производителя Febi, подвеска Auger, добавка в моторное масло Mannol, поэтому если возникает неопределенность в результатах поиска, то используйте дополнительное условие поиска - название производителя. Найти каталожный номер запчасти можно в электронном или бумажном каталоге производителя запчастей, а так же упаковке ранее приобретенной авозапчасти, либо воспользовавшись <%= link_to "Консультацией на сайте", requests_path %>.</p>
          </div>
        </div>
        <div class="modal-footer">
         <a href="#" id="catalog-number-close" class="btn primary">Ок</a>
        </div>
      </div>

      <!-- The Modal Dialog  -->
      <div id="replacements-modal" class="modal hide fade">
        <div class="modal-header">
          <h3>Замены и аналоги</h3>
         <a href="#" class="close">&times;</a>
        </div>
        <div class="modal-body">
          <div style="overflow: hidden">
            <p>Помимо искомого номера вы можете включить функцию поиска Замен и аналогов. В терминологии автовладельцев заменой является деталь, выпущенная этим же производителем с улучшенными техническими характеристиками (еще называется новый каталожный номер, когда выпуск искомого номера прекращается), а так же детали, выпущенные другими производителями, выпускающими собственные автомобили. Аналогами называют любые детали производители которых не выпускают автомобили.</p>
          </div>
        </div>
        <div class="modal-footer">
         <a href="#" id="replacements-close" class="btn primary">Ок</a>
        </div>
      </div>


    </noindex>
  <% end %>

  <% if @parsed_json["result_prices"].count > 0 %>

  <% content_for(:pages_controller) do %>
    <% path = CGI::unescape(request.fullpath).gsub(/^\/+/, '') %>
    <% if (page = Page.where(:path => path).first).present? %>
      <li><%= link_to "Редактировать", edit_page_path(page) %> </li>
    <% else %>
      <li><%= link_to "Создать", new_predefined_page_path(CGI::escape(CGI::escape(path))) %> </li>
    <% end %>
  <% end %>

  <div style="background: #F9F9F9;" class="simple">
    <% if @division_blocks %>
      <% if params[:replacements].blank? %>
        <h4><%= @division_blocks %></h4>
        <% if @seo_counter_length > 1 %>
          <h4><%= link_to 'Посмотреть аналоги всех найденных номеров', search_searches_path(params[:catalog_number], nil, "1"), :remote => true, :class => 'ajax-search' %></h4>
        <% end %>
      <% else %>
        <h4>Посмотреть только номер <%= link_to("#{params[:catalog_number]}", search_searches_path(params[:catalog_number], nil), :remote => true, :class => 'ajax-search') %> без аналогов</h4>
      <% end %>
    <% else %>
      <h4> Мы не смогли найти запрашиваемый номер, но нашли аналоги </h4>
    <% end %>
  </div>

    <br />

    <% if params[:replacements] == '1' %>
      <%= hint_decorator "Перед вами отображается список замен детали с <em>каталожным номером #{params[:catalog_number]}#{params[:manufacturer] ? ", выпущенную производителем " + params[:manufacturer] : ""}</em>. Сроки и цены в данном списке являются ориентировочными. Чтобы посмотреть актуальные предложения по интересующей вас замене перейдите по ссылке, содержащей каталожный номер детали." %>
    <% else %>
      <%= hint_decorator "Перед вами отображается список предложений по детали с <em>каталожным номером #{params[:catalog_number]}</em>. На сегодняшний день существует много компаний, которые занимаются выпуском аналогов оригинальных деталей по более низким ценам, не уступающим по качеству оригинальным деталям. А так же часто бывает так, что производитель вносит конструкционное улучшение в выпускаемую им деталь и не исключено, что вы ищете старый номер, по которому мало предложений и соответственно необоснованно завышена цена. Перейдите по ссылке выше если хотите посмотреть замены и аналоги интересующей вас детали." %>
    <% end %>

    <img src="/assets/order.png" style="float: right; height: 47px; width: 130px" />

    <table id="result-prices" class="zebra-striped">
      <thead>
        <tr>
          <th style="width: 80px">  <a href="#">Произв.</a> </th>
          <th style="width: 80px"> <a href="#">Кат.&nbsp;ном.</a> </th>
          <th style="width: 55px">  <a href="#">Инфо</a> </th>
          <th> <a href="#">Название</a> </th>
          <th style="width: 50px">  <a href="#">Дней</a> </th>
          <th style="width: 50px">  <a href="#">Цена</a> </th>
        </tr>
      </thead>
      <tbody>
        <% @parsed_json["result_prices"].each_with_index do |result_price, i| %>
          <tr class="<%= result_price["css_class"]%>">
            <td> <%= manufacturer = result_price["manufacturer"] %> </td>
            <td> 
            <% catalog_number = result_price["catalog_number"] %>
            <% if params[:replacements].to_i > 0 %>
              <%= link_to catalog_number, search_searches_path(catalog_number), :remote => true, :class => 'ajax-search' %>
            <% else %>
              <%= catalog_number %>
            <% end %>
            </td> 
            <td>
              <% case (result_price['info']) %>
                <% when 'avaliable' %>
                  <%= link_to(tag("img", :src => "/assets/information.png", :width => "35", :height => "32", :class => "info", :id => "info_#{i}", :data => {:catalog_number => catalog_number, :manufacturer => manufacturer}, :alt => "Информация", :title => "Информация"), info_path(catalog_number, manufacturer) ) %>
                <% when 'unavaliable' %>
                  <%= tag("img", :src => "/assets/1x1.gif", :width => "35", :height => "32", :class => "info", :id => "info_#{i}", :data => {:catalog_number => catalog_number, :manufacturer => manufacturer}, :alt => "Информация", :title => "Информация") %>
                <% when 'unknown' %>
                  <% if APP_CONFIG['send_request_from_search_page'] %>
                    <% 
                     require 'redis'
                     redis = Redis.new(:host => APP_CONFIG["redis_address"], :port => APP_CONFIG["redis_port"])

                     Juggernaut.publish(
                     nil, {
                       :command => 'info',
                       :catalog_number => catalog_number,
                       :manufacturer => manufacturer.presence || "WRONG_MANUFACTURER",
                       :channel => 'server'
                     }, {}, "custom")  
                    %>
                  <% end %>

                  <%= link_to(tag("img", :src => "/assets/init.gif", :width => "35", :height => "32", :class => "info", :id => "info_#{i}", :data => {:catalog_number => catalog_number, :manufacturer => manufacturer}, :alt => "Информация", :title => "Информация"), info_path(catalog_number, manufacturer) ) %>
              <% end %>
            </td>
            <td> <%= (title = truncate(("#{result_price["title"].to_s} #{result_price["title_en"].to_s} #{result_price["description"].to_s} #{result_price["applicability"].to_s}").mb_chars.gsub(/([^ ,.]{18})/, '\1 '), :length => ( session[:screen_width].to_i <= 0 ) ? 4096 : ((session[:screen_width].to_i > 1024 ) ? 60 : 35)) + " " + ((weight = result_price["weight_grams"].to_f) > 0 ? "#{((weight + 100) / 1000).round(1)}кг" : "")) %> </td>

            <% country = '' %>
            <% country = "Местонахождение поставщика: #{result_price['job_import_job_country_short']}, " if result_price['job_import_job_country_short'].present? %>

            <% max_days = '' %>
            <% max_days = "максимальный - #{result_price["job_import_job_delivery_days_average"]} дн., " if result_price['job_import_job_delivery_days_average'] %>

            <% tmp = result_price['count'].to_s.gsub(/\D/, '').to_i %>
            <% count = '' %>
            <% count = "#{tmp} штук в наличии, " if tmp > 0 %>

            <% success_percent = '' %>
            <% success_percent = "Вероятность выполнения заказа: #{result_price["success_percent"].to_i}%" if result_price["success_percent"].present? %>


            <td> <%= link_to days_decorator(result_price['job_import_job_delivery_days_declared']), "#", :class => 'days', :data => {:content => "Минимальный срок поставки на наш склад - #{result_price['job_import_job_delivery_days_declared']} дн. #{max_days}#{country}#{count}#{success_percent}"}, :title => 'Статистика заказов', :rel => 'popover' %> </td>
            <td>
              <span style="visibility: hidden; display:none"><%= retail_cost = cost_decorator(result_price["retail_cost"]) %></span>
              <%= form_for(:wish, :remote => true, :format => :json, :url => wishes_path, :method => :post, :html => {:style=>"margin: 0"}) do |f| %>
                <%= f.hidden_field :cost, :value => retail_cost, :id => nil %>
                <%= f.hidden_field :catalog_number, :value => catalog_number, :id => nil %>
                <%= f.hidden_field :manufacturer, :value => manufacturer, :id => nil %>
                <%= f.hidden_field :title, :value => title, :id => nil %>
                <%= f.hidden_field :count, :value => result_price["count"], :id => nil %>
                <%= f.hidden_field :declared, :value => result_price['job_import_job_delivery_days_declared'], :id => nil %>
                <%= f.hidden_field :average, :value => result_price["job_import_job_delivery_days_average"], :id => nil %>
                <%= f.hidden_field :country, :value => result_price['job_import_job_country_short'], :id => nil %>
                <%= f.hidden_field :probability, :value => result_price["success_percent"], :id => nil %>

                <%= f.submit raw("Купить #{retail_cost}"), :class => "btn buy-button primary", :style=>"width: 140px" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pagination pager" id="pager">
      <ul id="pager-list">
        <li class="prev"><a href="#">← Пред. </a></li>
        <li class="next"><a href="#">След. →</a></li>
      </ul>

      <select class="pagesize" style="display: none">
        <!-- Не забыть, что это в 2-х местах -->
        <option selected="selected"  value="15">15</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option  value="40">40</option>
      </select>

      <input type="text" class="pagedisplay" style="display: none" />
    </div>

    <%= image_tag "spare_parts.png", :style => "z-index: 11; position: absolute; display: none", :id => "wishes-logo" %>

  <% else %>
    <% unless params.key? :skip %>
      <% if params[:catalog_number].blank? %>
        <h3>Вы не указали искомый каталожный номер</h3>
      <% else %>
        <h3>Ничего не найдено <%= (catalog_number = params[:catalog_number]).present? ? "по каталожному номеру #{catalog_number}" : "" %> <%= (manufacturer = params[:manufacturer]).present? ? "и производителю #{manufacturer}" : ""%> <%= params[:replacements].present? ? "с учетом аналогов" : "без учета аналогов"  %> <br />
          <%= "Повторить поиск #{ link_to 'с учетом аналогов', search_searches_path(params[:catalog_number], params[:manufacturer], '1'), :remote => true, :class => 'ajax-search' } <br />".html_safe if (params[:replacements].to_i != 1) %>
          <%= "Повторить поиск #{ link_to 'без указания производителя', search_searches_path(params[:catalog_number], "", params[:replacements]), :remote => true, :class => 'ajax-search' } <br />".html_safe if params[:manufacturer].present? %></h3>
      <% end %>
    <% end %>
  <% end %>

  <%= raw @page.default_content if @page %>


</div>
