<style>
  .container-fluid > .content {
    margin: 0;
  }
</style>

<h1>Поиск запчастей</h1>

<%= form_tag(searches_path(:anchor => "jump"), :method => :get) do %>
  <div class="inputs">

    <div class="clearfix string optional">
      <label class="string optional">
        Каталожный номер
      </label>
      <div class="input">
        <%= text_field_tag :catalog_number, params[:catalog_number], :id => "catalog-number" %> <div id="clear-catalog-number" class='icons icons-sprite icons-delete'></div> 
      </div>
    </div>
    

    <div class="clearfix string optional">
      <label class="string optional">
        Производитель
      </label>
      <div class="input">
        <%= text_field_tag :manufacturer, params[:manufacturer], :id => "manufacturer" %> <div id="clear-manufacturer" class='icons icons-sprite icons-delete'></div>
      </div>
    </div>


    <div class="clearfix string optional">
      <label class="string optional">
        Замены и аналоги
      </label>
      <div class="input" style="margin-top: 6px">
        <%= check_box_tag :replacements, "1", params[:replacements].to_i > 0 ? true : false %> <br />
      </div>
    </div>

    <%= hidden_field_tag :rnd, rand() %>

    <div class="actions">
      <%= submit_tag "Искать", :class => "primary btn", :disable_with => "Пожалуйста ожидайте..." %>&nbsp;&nbsp;
      <% if user_search_histories.limit(3).size > 0 %>
        <% user_search_histories.limit(3).each do |ush| %>
          <%= link_to(ush.catalog_number + (ush.manufacturer? ?  " - " + ush.manufacturer : ""), search_searches_path(ush.catalog_number, ush.manufacturer, :anchor => "jump")) + ", " %>
        <% end %>
        <%= link_to "вся история поиска...", search_histories_path %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @parsed_json["result_prices"].count > 0 %>
  <br />

  <p><span class="label notice">Подсказка</span> Используйте сортировку по нескольким полям зажав клавишу Shift и щелкая мышью по заголовку таблицы. Например нажмите на заголовке Производитель, зажмите Shift и щелкните по заголовку Цена. А так же вы можете уточнить замену по конкретной детали указав в поиске производителя, для этого введите название производителя самостоятельно либо просто  щелкните по каталожному номеру в списке результатов<span id="jump">.</span></p>

  <br />

  <table id="result-prices" class="zebra-striped">
    <thead>
      <tr>
        <th style="width: 80px">  Произв. </th>
        <th style="width: 80px"> Кат.&nbsp;ном. </th>
        <th> Название </th>
        <th style="width: 60px">  Нал. </th>
        <th style="width: 50px">  От </th>
        <th style="width: 50px">  До  </th>
        <th style="width: 50px">  Расп.  </th>
        <th style="width: 50px">  Цена </th>
      </tr>
    </thead>
    <tbody>
      <% @parsed_json["result_prices"].each do |result_price| %>
        <tr>
          <td> <%= manufacturer = result_price["manufacturer"] %> </td>
          <td> <%= link_to catalog_number = result_price["catalog_number"],  search_searches_path(catalog_number, manufacturer, '1', :anchor => "jump") %> </td>
          <td> <%= title = truncate(("#{result_price["title"].to_s} #{result_price["title_en"].to_s}").mb_chars.gsub(/([^ ]{25})/, '\1 '), :length => ( session[:screen_width].to_i > 1024 ) ? 60 : 40) %> </td>
          <td> <%= count = ((count = (result_price["count"].to_s.gsub(/\D/, '').to_i)) > 1) ? count : '*' %> шт.</td>
          <td> <%= declared = (( declared = (result_price["job_import_job_delivery_days_declared"].to_i)) > 0) ? declared : '*' %> дн.</td>
          <td> <%= average = (( average = (result_price["job_import_job_delivery_days_average"].to_i)) > 0) ? average : '*'  %> дн.</td>
          <td> <%= country = result_price["job_import_job_country_short"] %> </td>
          <td>
            <span style="visibility: hidden; display:none"><%= income_cost = (result_price["income_cost"] * 1.07).to_i.to_s %></span>
            <%= form_for(:wish, :remote => true, :format => :json, :url => wishes_path, :method => :post, :html => {:style=>"margin: 0"}) do |f| %>
              <%= f.hidden_field :cost, :value => income_cost %>
              <%= f.hidden_field :catalog_number, :value => catalog_number %>
              <%= f.hidden_field :manufacturer, :value => manufacturer %>
              <%= f.hidden_field :title, :value => title %>
              <%= f.hidden_field :count, :value => count %>
              <%= f.hidden_field :declared, :value => declared %>
              <%= f.hidden_field :average, :value => average %>
              <%= f.hidden_field :country, :value => country %>
              <%= f.submit "#{income_cost} руб.", :class => "btn primary buy-button", :style=>"width: 90px" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination pager" id="pager" style="height: 60px">
    <ul id="pager-list">
      <li class="prev"><a href="#">← Пред. </a></li>
      <li class="next"><a href="#">След. →</a></li>
    </ul>

    <select class="pagesize" style="display: none">
      <option selected="selected"  value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option  value="40">40</option>
    </select>

    <input type="text" class="pagedisplay" style="display: none" />
  </div>

  <br />
  <br />
  <br />

  <%= image_tag "wishes.png", :style => "z-index: 11; position: absolute; display: none", :id => "wishes-logo" %>
<% else %>
  <h3>Ничего не найдено</h3>
<% end %>

