<h1>Заказ звонка</h1>
<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'call_me'}) %>

  <%= simple_form_for CallbackRequest.new, :remote => true, :url => please_callback_requests_path, :html => {:id => "callback_request"} do |callback| %>

    <%= content_tag :span, "+7" %>
    <%= callback.text_field :phone, :value => (params[:callback_request][:phone] if params[:callback_request] && params[:callback_request][:phone]) || '', :size => "18", :type => "tel", :style => "margin-right: 20px", :maxlength => 10 %>
    <br />
    <span class="help-block">Только цифры</span>
    <% if @callback_request && @callback_request.errors %>
      <br />
      <br />
      <%= content_tag(:span, "Неправильно указан номер телефона, введите просто десять цифр вашего телефона без \"+7\" или \"8\"", :style => 'color: #B94A48') %>
    <% end %>
    <br />
    <br />
    <input style="width: 45px; height: 28px" type="submit" value="Ок" name="commit" data-disable-with="Ок" class="primary btn">
  <% end %>

