<p id="notice"><%= notice %></p>

<p>
  <b>Region Area:</b>
  <%= @toyota_epc_part_number_list_child.region_area %>
</p>

<p>
  <b>Part number:</b>
  <%= @toyota_epc_part_number_list_child.part_number %>
</p>

<p>
  <b>Part name code:</b>
  <%= @toyota_epc_part_number_list_child.part_name_code %>
</p>

<p>
  <b>Qty:</b>
  <%= @toyota_epc_part_number_list_child.qty %>
</p>

<p>
  <b>Catalog:</b>
  <%= @toyota_epc_part_number_list_child.catalog %>
</p>

<p>
  <b>Model name:</b>
  <%= @toyota_epc_part_number_list_child.model_name %>
</p>

<p>
  <b>Fr to:</b>
  <%= @toyota_epc_part_number_list_child.fr_to %>
</p>

<p>
  <b>Models description:</b>
  <%= @toyota_epc_part_number_list_child.models_description %>
</p>

<p>
  <b>Part number list parent:</b>
  <%= @toyota_epc_part_number_list_child.part_number_list_parent %>
</p>


<%= link_to 'Edit', edit_toyota_epc_part_number_list_child_path(@toyota_epc_part_number_list_child) %> |
<%= link_to 'Back', toyota_epc_part_number_list_children_path %>
