<h1><%= @meta_title = "Ввод кода подтверждения" %></h1>

<p><span class="label">К сведению</span> Если вы не получили sms, то воспользуйтесь ссылкой "Забыли пароль?".</p>
<hr>
<%= simple_form_for(resource, :wrapper => :inline, :as => resource_name, :url => confirmation_path(resource_name)) do |f| %>

  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">

    <%= f.input :confirmation_token, :required => true, :wrapper => :prepend, :wrapper_html => {:class => 'hint-hack'}, :label => "Код подтверждения"  do %>
      <%= f.input :confirmation_token, :autofocus => true, :label => false, :input_html => {:maxlength => 5}, :wrapper_html => {:class => 'margin-hack'}, :hint => "Регистр букв не важен" %>
    <% end %>

  </div>

  <div class="actions">
    <%= f.button :submit, "Подтвердить", :class => "primary" %> <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
