<!--
<h2>Resend SMS Token</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :phone, :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>

<% end %>

<%= render :partial => "devise/shared/links" %>
-->
