<h1> Один шаг до входа </h1>
<p><span class="label">К сведению</span> Вы почти вошли, укажите ваше имя и придумайте себе новый пароль.</p>
<hr>

<%= simple_form_for(resource, :wrapper => :inline, :as => resource_name, :url => update_confirmation_path, :html => { :method => :put }) do |f| %>
  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <div class="inputs">
    <%= f.input :user_name, :required => true %>
    <%= f.input :password, :required => true, :hint => 'Придумайте пароль не менее 6-и символов', :input_html => {:autocomplete => "off"} %>
    <%= f.input :password_confirmation, :required => true, :hint => 'Повторите введенный пароль', :input_html => {:autocomplete => "off"} %>
    <%= hidden_field_tag "user[confirmation_token]", @confirmation_token %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Сохранить", :class => "primary" %>
  </div>
<% end %>
