<h1> Один шаг до входа </h1>
<br />

<%= simple_form_for(resource, :wrapper => :prepend, :as => resource_name, :url => update_confirmation_path(:anchor => "jump"), :html => { :method => :put }) do |f| %>
  <% content_for :form_error do %>
    <% if f.error_notification %>
        <p><%= f.error_notification %></p>
    <% end %>
  <% end %>

  <%= f.input :user_name, :error => true, :hint => false, :label => "Как к вам обращаться? (Имя)", :input_html => {:size => 20, :autocomplete => "off"}, :required => true %>
    <br />
    <%= f.input :password, :required => true, :input_html => {:size => 20} %>
    <br />
    <%= f.input :password_confirmation, :required => true, :input_html => {:size => 20} %>
    <br />
    
    <%= hidden_field_tag "user[confirmation_token]", @confirmation_token %>
    <%= f.button :submit, "Сохранить", :class => "primary" %>
<% end %>
