<p><span class="label">К сведению</span> Для подбора и консультации пожалуйста заполните информацию о своем автомобиле. Нам крайне важно знать <a id="modal-from-element" class="btn" href="#" data-controls-modal="modal-from-dom">VIN код</a> или FRAME (CHASSIS) код вашего автомобиля. Они указаны в свидетельстве о регистрации транспортного средства. В противном случае старайтесь максимально подробно указать характеристики автомобиля.</p>
<br />

<!-- The Modal Dialog  -->
<div id="modal-from-dom" class="modal hide fade">
  <div class="modal-header">
    <h3>Modal Heading</h3>
   <a href="#" class="close">&times;</a>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
   <a id="btnPrimary" href="#" class="btn primary">Primary</a>
   <a id="btnSecondary" href="#" class="btn secondary">Secondary</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span16 columns">
      <div class="span4 columns">
    </div>
  </div>
</div>

<div id="">
  ИДЕНТИФИКАЦИОННЫЙ НОМЕР ТРАНСПОРТНОГО СРЕДСТВА состоит из 17 символов. Наносится на неразъемных составляющих кузова или шасси и на специально изготовленных номерных табличках (шильдиках). VIN код также указан в свидетельстве о регистрации транспортного средства.
</div>

<div id="what-is-frame">
  ИДЕНТИФИКАЦИОННЫЙ НОМЕР РАМЫ (ШАССИ). Является аналогом VIN кода и используется только на автомобилях предназначенных для внутреннего рынка Японии (с правым рулём). Может содержать разное количество символов. FRAME (CHASSIS) код также указан в свидетельстве о регистрации транспортного средства.
</div>

<%= simple_form_for(@car, :wrapper => :inline) do |f| %>
  <%= f.error_notification %>
  
  <ul data-tabs="tabs" class="tabs">
    <li class="active"><a href="#home">Ввод Идентификатора автомобиля</a></li>
    <li class=""><a href="#profile">Ввод характеристик автомобиля</a></li>
  </ul>
  
  <div class="tab-content" id="my-tab-content">
    <div id="home" class="tab-pane active">  
      <div class="inputs">
        <%= f.input :vin %>
        <p style="margin: 0 0 10px 270px; top: -10px; position: relative; font-size: 150%">или</p>
        <%= f.input :frame %>
      </div>
    </div>
    <div id="profile" class="tab-pane">  
      <div class="inputs">
        <%= f.input :god %>
        <%= f.input :marka %>
        <%= f.input :model %>
        <%= f.input :dvigatel %>
        <%= f.input :tip %>
        <%= f.input :moschnost %>
        <%= f.input :privod %>
        <%= f.input :tip_kuzova %>
        <%= f.input :kpp %>
        <%= f.input :kod_kuzova %>
        <%= f.input :kod_dvigatelya %>
        <%= f.input :rinok %>
        <%= f.input :komplektaciya %>
      </div>
    </div>
  </div>            

  <script>
    $(function () {
      $('.tabs').tabs()
    })
  </script>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
