<ul class="breadcrumb">
  <li><a href="#">Главная</a> <span class="divider">/</span></li>
  <li class="active">Список автомобилей</li>
</ul>

<h1>Список автомобилей</h1>

<table>
  <tr>
    <th>Марка</th>
    <th>Модель</th>
    <th>Год</th>  
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.marka %></td>
    <td><%= car.model %></td>
    <td><%= car.god %></td>    
    <td><%= link_to 'Редактировать', edit_car_path(car) %></td>
    <td><%= link_to 'Удалить', car, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Создать заявку по этому авто', new_car_request_path(car) %></a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Создать заявку без указания авто", new_request_path %> <br />
<%= link_to 'Добавить авто и создать по нему заявку', new_car_path %>
