<ul class="breadcrumb">
  <li><a href="#">Главная</a> <span class="divider">/</span></li>
  <li class="active">Автомобиль</li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Marka:</b>
  <%= @car.marka %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>God:</b>
  <%= @car.god %>
</p>

<p>
  <b>Dvigatel:</b>
  <%= @car.dvigatel %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
