<ul class="breadcrumb">
  <li><a href="#">Главная</a> <span class="divider">/</span></li>
  <li class="active">Автомобиль</li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>God:</b>
  <%= @car.god %>
</p>

<p>
  <b>Marka:</b>
  <%= @car.marka %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Dvigatel:</b>
  <%= @car.dvigatel %>
</p>

<p>
  <b>Tip:</b>
  <%= @car.tip %>
</p>

<p>
  <b>Moschnost:</b>
  <%= @car.moschnost %>
</p>

<p>
  <b>Privod:</b>
  <%= @car.privod %>
</p>

<p>
  <b>Tip kuzova:</b>
  <%= @car.tip_kuzova %>
</p>

<p>
  <b>Kpp:</b>
  <%= @car.kpp %>
</p>

<p>
  <b>Kod kuzova:</b>
  <%= @car.kod_kuzova %>
</p>

<p>
  <b>Kod dvigatelya:</b>
  <%= @car.kod_dvigatelya %>
</p>

<p>
  <b>Rinok:</b>
  <%= @car.rinok %>
</p>

<p>
  <b>Vin:</b>
  <%= @car.vin %>
</p>

<p>
  <b>Frame:</b>
  <%= @car.frame %>
</p>

<p>
  <b>Komplektaciya:</b>
  <%= @car.komplektaciya %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
