<p id="notice"><%= notice %></p>

<p>
  <b>Part number:</b>
  <%= @toyota_epc_part_number_application_to_models_parent.part_number %>
</p>

<p>
  <b>Region area:</b>
  <%= @toyota_epc_part_number_application_to_models_parent.region_area %>
</p>


<%= link_to 'Edit', edit_toyota_epc_part_number_application_to_models_parent_path(@toyota_epc_part_number_application_to_models_parent) %> |
<%= link_to 'Back', toyota_epc_part_number_application_to_models_parents_path %>
