<% catalog_number = params[:catalog_number] %>
<% manufacturer = params[:manufacturer] %>


<script>
  Application.connect()
  Application.publish('info', "<%= catalog_number %>", "<%= manufacturer %>")
</script>

<table class="zebra-striped" id="info">
  <tr>
    <th>№</th>
    <th>Кат. номер</th>
    <th>PNC</th>
    <th>Кол-во</th>
    <th>Catalog</th>
    <th>Модель</th>
    <th>Период пр-ва</th>
    <th>Описание</th>
  </tr>
</table>

Каталожный номер: <%= catalog_number %>
<br />

Производитель: <%= manufacturer %>
<br />

<%= tag("img", :src => "/static/#{params[:catalog_number]}.png", :alt => "#{params[:catalog_number]} (#{params[:manufacturer]})", :width => "921", :height => "686", :data => {:catalog_number => catalog_number, :manufacturer => manufacturer} ) %>
