<script>
  $(function() {
    Application.publish('info', Math.random(), "<%= params[:catalog_number] %>", "<%= params[:manufacturer] %>", 100, "#info")
  });
</script>

<table class="zebra-striped" id="info">
  <tr>
    <th>№</th>
    <th>Кат. номер</th>
    <th>PNC</th>
    <th>Кол-во</th>
    <th>Catalog</th>
    <th>Модель</th>
    <th>Период пр-ва</th>
    <th>Описание</th>
  </tr>
</table>

Каталожный номер: <%= params[:catalog_number] %>
<br />
Производитель: <%= params[:manufacturer] %>
<br />
  <img src="/static/<%= params[:catalog_number] %>.png" alt="<%= "#{params[:catalog_number]} (#{params[:manufacturer]})" %>" width="921" height="686" />
