<% catalog_number = params[:catalog_number] %>
<% manufacturer = params[:manufacturer] %>

<!-- TODO проверять значение f:... -->

<% debugger %>

<% # if defined? @static %>
<% if @static.present? %>
  <%= "<div id='info' class='static'>#{@static}</div>".html_safe %>
<% else %>
  <script>
    $(document).ready(function(){
      Application.connect();
      Application.publish('info', "<%= catalog_number %>", "<%= manufacturer %>");
    });
  </script>
  <%= "<div id='info' class='dynamic'></div>".html_safe %>
<% end %>


<!-- <%= tag("img", :src => "/static/#{params[:catalog_number]}.png", :alt => "#{params[:catalog_number]} (#{params[:manufacturer]})", :width => "921", :height => "686", :data => {:catalog_number => catalog_number, :manufacturer => manufacturer} ) %> -->
