<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
<head>

  <% if @meta_title %>
    <title><%= "#{@meta_title} - " if @meta_title.present? %> <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'title'}) %></title>
  <% end %>

  <% if @meta_keywords %>
    <meta name="Keywords" content="<%= @meta_keywords %>"/>
  <% else %>
    <meta name="Keywords" content="<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'meta_keywords_default'}) %>"/>
  <% end %>

  <% if @meta_description %>
    <meta name="Description" content="<%= @meta_description %>"/>
  <% else %>
    <meta name="Description" content="<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'meta_description_default'}) %>"/>
  <% end %>

  <% if @meta_robots %>
    <meta name="robots" content="<%= @meta_robots %>">
  <% end %>

  <link rel="shortcut icon" href="/favicon.ico" />

  <% if @meta_canonical %>
    <link rel="canonical" href="<%= @meta_canonical %>" />
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

  <style>
  * {
    font: 18px verdana;
    text-align: center;
  	}		
	
  	h1 {
  	  font-size: 24px;
  	}
	
  	h2 {
  	  font-size: 22px;
  	}
	
  	h3 {
  	  font-size: 20px;
  	}
  </style>
  
  <p><%= link_to "Yaponama.ru", root_path %></p>
  <br />
  <p><%= link_to "Поиск запчастей по номеру", searches_path(:skip => true, :anchor => "jump") %></p>
  <p><%= link_to "Помощь в подборе автозапчасти", requests_path(:anchor => "jump") %></p>
  <p><%= link_to "Закажите звонок и мы вам перезвоним", call_me_callback_requests_path(:anchor => "jump") %></p>
  <br />
  <p><%= link_to "Корзина", wishes_path(:anchor => "jump"), :id => "wishes-link" %></p>
  <% if current_user %>
    <p><%= link_to "Заказы", orders_path(:anchor => "jump") %></p>
  <% end %>
  <br />
  <% if user_signed_in? %>
    <p><%= link_to "Профиль", edit_user_registration_path(:anchor => "jump") %></p>  
    <% if session[:admin_id] %>
      <p><%= link_to "Стать администратором", become_path(:referer => url_for(Rails.application.routes.recognize_path(request.url.to_s).merge(:anchor => "jump", :page => nil))) %></p>
    <% end %>
    <p><%= link_to "Выход", destroy_user_session_path(:anchor => "jump"), :method => :delete %></p>
  <% else %>
    <p><%= link_to "Вход на сайт", new_user_session_path(:anchor => "jump") %></p>
    <p><%= link_to "Регистрация", new_user_registration_path(:anchor => "jump") %></p>
    <p><%= link_to "Забыли пароль?", new_user_password_path(:anchor => "jump") %></p>
  <% end %>
  <br />
  <% if current_user && current_user.admin? %>
    <p><%= link_to "Переменные", blocks_path(:anchor => "jump") %></p>
    <p><%= link_to "Страницы", pages_path(:anchor => "jump") %></p>
    <p><%= link_to "Обратные вызовы", callback_requests_path(:anchor => "jump") %></p>
    <p><%= link_to "Ссылки", links_path(:anchor => "jump") %></p>
  <% end %>
  <br />
  <p><%= link_to "О Магазине", about_path(:anchor => "jump") %></p>
  
  <br id="jump" />
  
  <% if notice %>
    <p><%= notice %></p><br />
  <% end %>

  <% if alert %>
    <p><%= alert %></p><br />
  <% end %>

  <% if content_for?(:form_error) %>
    <p><%= yield :form_error %></p><br />
  <% end %>

	  <%= yield %><br /><br /><br />

<%= render :partial => 'layouts/mobile_switch.html.erb' %>

<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'google_analytics'}) %>
<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'yandex_metrika'}) %>


</body>
</html>
