<!DOCTYPE html>
<html>
<head>
  <title>Yaponama</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= link_to "Yaponama", root_path, :class => 'brand' %>

      <ul class="nav">
        <li<%= (['requests', 'cars'].include? params[:controller]) ? ' class="active"'.html_safe : ''%>><%= link_to "Запросы", requests_path %></li>
        <li class="dropdown <%= (['searches', 'wishes', 'search_histories'].include? params[:controller]) ? 'active' : '' %>">
        <li<%= params[:controller] == 'wishes' ? ' class="active"'.html_safe : ''%>><%= link_to "Корзина", wishes_path, :id => "wishes-link" %></li>
        <li<%= params[:controller] == 'orders' ? ' class="active"'.html_safe : ''%>><%= link_to "Заказы", searches_path %></li>
      </ul>
      <%= form_tag searches_path(:anchor => "jump"), :method => :get, :class => 'pull-left' do |f| %>
        <%= text_field_tag :catalog_number, nil, :placeholder => "Введите каталожный номер", :style => "width: 200px" %>
        <%= submit_tag "Поиск", :class => "btn primary", :id => "poisk" %>
      <% end %>
      <ul class="nav secondary-nav">
        <li<%= params[:controller] == 'about' ? ' class="active"'.html_safe : ''%>><%= link_to "О Магазине", about_path %></li>                
        <li class="dropdown <%= (['devise/sessions', 'registrations', 'passwords', 'confirmations'].include? params[:controller])  ? 'active' : ''%>">
          <% if user_signed_in? %>
            <%= link_to "Вы вошли как " + current_user.user_name, "#", :class => "dropdown-toggle" %>
            <ul class="dropdown-menu">
              <li<%= params[:controller] == 'registrations' && params[:action] == 'edit' ? ' class="active"'.html_safe : ''%>><%= link_to "Редактирование профиля", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else %>
            <%= link_to "Вход", "#", :class => "dropdown-toggle" %>
            <ul class="dropdown-menu">
              <li<%= params[:controller] == 'devise/sessions' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Вход на сайт", new_user_session_path %></li>
              <li<%= params[:controller] == 'registrations' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Регистрация", new_user_registration_path %></li>
              <li class="divider"></li>
              <li<%= params[:controller] == 'passwords' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Забыли пароль?", new_user_password_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">

  <% if notice %>
    <div class="alert-message success fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert-message fails fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= alert %></p>
    </div>
  <% end %>

  <% if content_for?(:form_error) %>
    <div class="alert-message fails fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= yield :form_error %></p>
    </div>
  <% end %>

  <% if params[:controller] != "searches" %>
    <div class="sidebar">

      <div class="well"> 
      В вашей корзине X товаров на сумму X XXX руб.
        <%= current_user.try(:admin?) %>
      </div>

      <div class="well"> 
      <p>Наш сайт доступен в локальных сетях г. Норильска по следующим адресам:</p>
        <ul>
          <li> Стрим <a href="#">http://123.456.789.000</a></li>
          <li> Норком <a href="#">http://123.456.789.000</a></li>
        </ul>
      <p> И в Интернете <a href="#">http://www.yaponama.ru</a></p>
      </div>

    </div>
  <% end %>

  <div class="content">
	<%= yield %>
    <% if params[:controller] != 'searches' %>
      <footer>
        <p><%= link_to "&copy; Yaponama 2011".html_safe, about_path %></p>
      </footer>
    <% end %>
  </div>
</div>

<div style="display: none" id="screen-width"><%= session[:screen_width] %></div>

</body>
</html>
