  <script src="http://<%= APP_CONFIG["juggernaut_address"] %>:8080/application.js" type="text/javascript" charset="utf-8"></script>
  
</head>
<body id="jump">

<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= link_to render(:partial => "blocks/show.erb", :locals => {:block_name => 'header'}), root_path, :class => 'brand' %>
      <ul class="nav">
        <li<%= (['requests', 'cars'].include? params[:controller]) ? ' class="active"'.html_safe : ''%>><%= link_to "Помощь в подборе", requests_path %></li>
        <li<%= params[:controller] == 'searches' ? ' class="active"'.html_safe : ''%>><%= link_to "Поиск по номеру", skip_search_searches_path %></li>
        <li<%= params[:controller] == 'wishes' ? ' class="active"'.html_safe : ''%>><%= link_to "Корзина", wishes_path, :id => "wishes-link" %></li>
        <li<%= params[:controller] == 'orders' ? ' class="active"'.html_safe : ''%>><%= link_to "Заказы", orders_path %></li>
      </ul>
      <ul class="nav secondary-nav">
        <li<%= params[:controller] == 'pages' && params[:path] == 'delivery' ? ' class="active"'.html_safe : ''%>><%= link_to "Доставка", delivery_path %></li>                
        <li<%= params[:controller] == 'pages' && params[:path] == 'payment' ? ' class="active"'.html_safe : ''%>><%= link_to "Оплата", payment_path %></li>                
        <li<%= params[:controller] == 'pages' && params[:path] == 'contacts' ? ' class="active"'.html_safe : ''%>><%= link_to "Контакты", contacts_path %></li>                
        <li class="dropdown <%= (['sessions', 'registrations', 'passwords', 'confirmations', 'blocks', 'callback_requests', 'links'].include? params[:controller]) || ( params[:controller] == 'pages' && (params[:action] == 'edit' || params[:action] == 'index' || params[:action] == 'new')) ? 'active' : ''%>">
          <% if user_signed_in? %>
            <%= link_to "zxy", "#", :class => "dropdown-toggle", :style => "white-space:nowrap; z-index: 10; position: relative; display: block; max-width: 120px; overflow:hidden; text-overflow:ellipsis;" %>
            <ul class="dropdown-menu">
              <li<%= params[:controller] == 'registrations' && params[:action] == 'edit' ? ' class="active"'.html_safe : ''%>><%= link_to "Редактирование профиля", edit_user_registration_path %></li>
              <% if session[:admin_id] %>
                <li><%= link_to "Стать администратором", become_path(:referer => url_for(Rails.application.routes.recognize_path(request.url.to_s).merge(:page => nil))) %></li>
              <% end %>
              <li class="divider"></li>
              <li<%= params[:controller] == 'spare_info' && (params[:action] == 'index' || params[:action] == 'edit' || params[:action] == 'new') ? ' class="active"'.html_safe : ''%>><%= link_to "Описания деталей", spare_infos_path %></li>
              <li class="divider"></li>
              <% if current_user.admin? %>
                <li<%= params[:controller] == 'blocks' ? ' class="active"'.html_safe : ''%>><%= link_to "Блоки", blocks_path %></li>
                <li class="divider"></li>
                <li<%= params[:controller] == 'pages' && (params[:action] == 'index' || params[:action] == 'edit' || params[:action] == 'new') ? ' class="active"'.html_safe : ''%>><%= link_to "Страницы", pages_path %></li>
                <li<%= params[:controller] == 'feed_categories' && (params[:action] == 'index' || params[:action] == 'edit' || params[:action] == 'new') ? ' class="active"'.html_safe : ''%>><%= link_to "Категории Лент", feed_categories_path %></li>
                <li<%= params[:controller] == 'feed_elements' && (params[:action] == 'index' || params[:action] == 'edit' || params[:action] == 'new') ? ' class="active"'.html_safe : ''%>><%= link_to "Элементы Лент", feed_elements_path %></li>
                <li class="divider"></li>
                <li<%= params[:controller] == 'callback_requests' ? ' class="active"'.html_safe : ''%>><%= link_to "Обратные вызовы", callback_requests_path %></li>
                <li<%= params[:controller] == 'links' ? ' class="active"'.html_safe : ''%>><%= link_to "Ссылки", links_path %></li>
                <li<%= params[:controller] == 'clients' && params[:action] == 'index' ? ' class="active"'.html_safe : ''%>><%= link_to "Пользователи", clients_path %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to "Выход", destroy_user_session_path %></li>
            </ul>
          <% else %>
            <%= link_to "Вход", "#", :class => "dropdown-toggle" %>
            <ul class="dropdown-menu">
              <li<%= params[:controller] == 'sessions' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Вход на сайт", new_user_session_path %></li>
              <li<%= params[:controller] == 'registrations' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Регистрация", new_user_registration_path %></li>
              <li class="divider"></li>
              <li<%= params[:controller] == 'passwords' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Забыли пароль?", new_user_password_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">

  <% if notice %>
    <div class="alert-message success fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert-message fails fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= alert %></p>
    </div>
  <% end %>

  <% if @show_sidebar || 
      !(["wishes"].include? params[:controller]) && 
      !(params[:controller] == "confirmations" && params[:action] == "variants") &&
      !(params[:controller] == "orders" && params[:action] == "show") %>
    <div class="sidebar">

      <% if params[:controller] != "callback_requests" %>
        <div id="callback_request_block" class="well">
          <%= render :partial => "callback_requests/call_me" %>
        </div>
      <% end %>

    <%= render :partial => "blocks/show.erb", :locals => {:block_name => 'sideblock_1'}  %>
  
    <%= render :partial => "blocks/show.erb", :locals => {:block_name => 'sideblock_2'}  %>

    </div>
  <% else %>
    <style>
      .container-fluid > .content {
        margin: 0;
      }
    </style>  
  <% end %>

  <div class="content">
    <!-- <article> -->
    <%= yield %>
    <!-- </article> -->
    <footer>
      <div class="row">
        <div class="span8">
          <address>
            <%= link_to(render(:partial => "blocks/show.erb", :locals => {:block_name => 'copyright'}), contacts_path) %>
          </address>
        </div>
        <div style="float: right">
          <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'rambler_top100'}) %>
          <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'openstat'}) %>
          <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'mail_raiting'}) %>
          <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'live_internet'}) %>
          <%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'bottom_right'}) %>
        </div>
      </div>
    </footer>
  </div>
</div>

<%= tag :div, :id => "data", :data => {:sent => session[:sent].to_s, :remote_ip => request.remote_ip, :screen_width => session[:screen_width], :screen_height => session[:screen_height]} %>


<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'google_analytics'}) %>
<%= render(:partial => "blocks/show.erb", :locals => {:block_name => 'yandex_metrika'}) %>


</body>
</html>
