<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} - " : "" %> Yaponama</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
      <%= link_to "Yaponama.ru", root_path, :class => 'brand' %>

      <ul class="nav">
        <li<%= (['requests', 'cars'].include? params[:controller]) ? ' class="active"'.html_safe : ''%>><%= link_to "Консультация", requests_path %></li>
        <li>
          <%= form_tag searches_path(:anchor => "jump"), :method => :get, :class => 'pull-left' do %>
            <%= text_field_tag :catalog_number, nil, :placeholder => "Каталожный номер", :style => "width: 140px" %>
            <%= hidden_field_tag :rnd, rand() %>          
            <%= submit_tag "Искать", :class => "btn primary", :disable_with => "Пожалуйста подождите...", :id => "poisk" %>
          <% end %>
        </li>
        <li<%= params[:controller] == 'wishes' ? ' class="active"'.html_safe : ''%>><%= link_to "Корзина", wishes_path, :id => "wishes-link" %></li>
        <li<%= params[:controller] == 'orders' ? ' class="active"'.html_safe : ''%>><%= link_to "Заказы", orders_path %></li>
      </ul>
      <ul class="nav secondary-nav">
        <li<%= params[:controller] == 'about' ? ' class="active"'.html_safe : ''%>><%= link_to "О Магазине", about_path %></li>                
        <li class="dropdown <%= (['sessions', 'registrations', 'passwords', 'confirmations'].include? params[:controller])  ? 'active' : ''%>">
          <% if user_signed_in? %>
            <%= link_to "" + current_user.user_name, "#", :class => "dropdown-toggle", :style => "white-space:nowrap; z-index: 10; position: relative; display: block; max-width: 120px; overflow:hidden; text-overflow:ellipsis;" %>
            <ul class="dropdown-menu">
              <li<%= params[:controller] == 'registrations' && params[:action] == 'edit' ? ' class="active"'.html_safe : ''%>><%= link_to "Редактирование профиля", edit_user_registration_path %></li>
              <% if session[:admin_id] %>
                <li><%= link_to "Стать администратором", become_path(:referer => url_for(Rails.application.routes.recognize_path(request.url.to_s).merge(:page => nil))) %></li>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to "Выход", destroy_user_session_path %></li>
            </ul>
          <% else %>
            <%= link_to "Вход", "#", :class => "dropdown-toggle" %>
            <ul class="dropdown-menu">
              <li<%= params[:controller] == 'sessions' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Вход на сайт", new_user_session_path %></li>
              <li<%= params[:controller] == 'registrations' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Регистрация", new_user_registration_path %></li>
              <li class="divider"></li>
              <li<%= params[:controller] == 'passwords' && params[:action] == 'new' ? ' class="active"'.html_safe : ''%>><%= link_to "Забыли пароль?", new_user_password_path %></li>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">

  <% if notice %>
    <div class="alert-message success fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert-message fails fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= alert %></p>
    </div>
  <% end %>

  <% if content_for?(:form_error) %>
    <div class="alert-message fails fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= yield :form_error %></p>
    </div>
  <% end %>
  
  <% if @show_sidebar || 
      !(["searches", "wishes"].include? params[:controller]) && 
      !(params[:controller] == "confirmations" && params[:action] == "variants") &&
      !(params[:controller] == "orders" && params[:action] == "show") %>
    <div class="sidebar">

      <div class="well">
        <p>Наш сайт доступен в локальных сетях г. Норильска по следующим адресам:</p>
          <ul>
            <li> Стрим <a href="#">http://123.456.789.000</a></li>
            <li> Норком <a href="#">http://123.456.789.000</a></li>
          </ul>
        <p> 
          И в Интернете <a href="#">http://www.yaponama.ru</a>
        </p>
      </div>
      
      <div class="well"> 
      Вы администратор?
        <%= current_user.try(:admin?) %>
      </div>      

    </div>
  <% else %>
    <style>
      .container-fluid > .content {
        margin: 0;
      }
    </style>  
  <% end %>

  <div class="content">
	<%= yield %>
    <% if params[:controller] != 'searches' %>
      <footer>
<div class="row">
  <div class="span4">
    <address>
      <strong>&copy; Yaponama 2011</strong><br />
      г. Город, ул. Улица, д. Д<br>
      +7 (250) 632-43-32
    </address>
  </div>
  <div class="span4">
    <address>
      <%= render :partial => 'layouts/mobile_switch' %>
    </address>
  </div>
</div>
      </footer>
    <% end %>
  </div>
</div>

<div style="display: none" id="screen-width"><%= session[:screen_width] %></div>

<%= render :partial => 'layouts/counters' %>

</body>
</html>
