<!DOCTYPE html>
<html>
<head>
  <title>Yaponama</title>
  <%= csrf_meta_tags %>
</head>
<body>

<style>

	
</style>

  <h1>Yaponama</h1>
  <%= link_to "Консультация", requests_path %> <br />
  <%= link_to "Корзина", wishes_path, :id => "wishes-link" %> <br />
  <%= link_to "Заказы", orders_path %> <br />
  <%= link_to "О Магазине", about_path %> <br />
  <% if user_signed_in? %>
    <%= link_to "Редактирование профиля", edit_user_registration_path %> <br />
    <%= link_to "Выход", destroy_user_session_path, :method => :delete %> <br />
  <% else %>
    <%= link_to "Вход на сайт", new_user_session_path %> <br />
    <%= link_to "Регистрация", new_user_registration_path %> <br />
    <%= link_to "Забыли пароль?", new_user_password_path %> <br />
  <% end %>

    <% if notice %>
      <div class="alert-message success fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert-message fails fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p><%= alert %></p>
      </div>
    <% end %>

    <% if content_for?(:form_error) %>
      <div class="alert-message fails fade in" data-alert="alert">
        <a class="close" href="#">×</a>
        <p><%= yield :form_error %></p>
      </div>
    <% end %>
  
    <div class="content">
  	  <%= yield %>
    </div>
  </div>

</body>
</html>